# Data Clean Up

### Load all the libraries we will need:
- Pandas, for CSV data manipulation
- Seaborn, for pretty graphs
- Matplotlib.pyplot, for less pretty graphs
- Numpy, for some arithmetics

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

### Load files into the notebook

Given the sheer quantity of the files, in the future this should be made into a database to save some lines of code.

In [24]:
cir_df = pd.read_csv('f1_dataset/circuits.csv')  #0
con_res_df = pd.read_csv('f1_dataset/constructor_results.csv') #1
con_sta_df = pd.read_csv('f1_dataset/constructor_standings.csv') #2
con_df = pd.read_csv('f1_dataset/constructors.csv') #3
drv_sta_df = pd.read_csv('f1_dataset/driver_standings.csv') #4
drv_df = pd.read_csv('f1_dataset/drivers.csv') #5
lap_df = pd.read_csv('f1_dataset/lap_times.csv') #6
pit_df = pd.read_csv('f1_dataset/pit_stops.csv') #7
q_df = pd.read_csv('f1_dataset/qualifying.csv') #8
rac_df = pd.read_csv('f1_dataset/races.csv') #9
res_df = pd.read_csv('f1_dataset/results.csv') #10
ssn_df = pd.read_csv('f1_dataset/seasons.csv') #11
spr_res_df = pd.read_csv('f1_dataset/sprint_results.csv') #12
sta_df = pd.read_csv('f1_dataset/status.csv') #13

all_files = [cir_df, con_res_df, con_sta_df, con_df, drv_sta_df, drv_df, lap_df, pit_df, q_df, rac_df, res_df, ssn_df, spr_res_df, sta_df]

### Look for missing data

Only print the dataframes with empty cells

In [31]:
# Print the count of NaNs per column. This acheives the same as DataFrame.info(), but is in a more manageble format
for i, df in enumerate(all_files):
    temp_df = np.sum(df.isna(),axis=0)
    if np.sum(temp_df) > 0:
        print('Dataframe ' + str(i) + ' contains empty fields')
        print(temp_df)

Dataframe 8 contains empty fields
qualifyId          0
raceId             0
driverId           0
constructorId      0
number             0
position           0
q1                 8
q2               164
q3               327
dtype: int64

### Quali dataset
Only ```q_df``` dataframe has empty values. One may have a good idea why that is, looking where the data is missing. Some datapoints are missing from Q1, more from Q2 and most from Q3. This pattern clearly coincides with qualification elimination.

Seeing the data below, looks like the drivers who did not have a Q1 entry still participated in the races. Checking some of the reasons for these occurences we can learnt hat for example in Azerbaijan 2019 GP (raceId 1013), Pierre Gasly and Kimi Raikkonen were disqualified from quali, thus removing their set times. Yet, they were still allowed to participate in the race.

In [47]:
# select just Q1 NaNs
q1_na = q_df.loc[q_df['q1'].isna()]
# understand more about those drivers who didnt have a Q1 timed entry by looking at their race result
q1_more_info = pd.merge(q1_na, res_df,  how='left', left_on=['raceId','driverId'], right_on = ['raceId','driverId'])
# show 
q1_more_info[['raceId','driverId','q1','grid','position_x','position_y']].head(10)

   raceId  driverId   q1  grid  position_x position_y
0     983        20  NaN    20          20          4
1     993       843  NaN    20          20         12
2     994       830  NaN    20          20          9
3     995       154  NaN    20          20         12
4    1013         8  NaN     0          19         10
5    1013       842  NaN     0          20         \N
6    1020        20  NaN    20          20          2
7    1024       817  NaN    20          20         14

There are too many Q2 and Q3 NaN entries to check them one by one for a specific reason. We can fairly safely judge that most of them are correct due to Q1 and Q2 elimination respectively. 

We can just sense check that all Q2 participants have a Q1 time recorded, and that all Q3 participants have a Q2 time recorded. And indeed - analysis below shows all participants have all the relevant quali times recorded. We therefore can conclude this dataset is complete.

In [53]:
# find every racer who is in Q2
q2_entrants = q_df.loc[~q_df['q2'].isna()]
# see if any of them have a NaN in Q1 entry
q2_entrants.loc[q2_entrants['q1'].isna()]

Empty DataFrame
Columns: [qualifyId, raceId, driverId, constructorId, number, position, q1, q2, q3]
Index: []

In [54]:
# find every racer who is in Q2
q3_entrants = q_df.loc[~q_df['q3'].isna()]
# see if any of them have a NaN in Q1 entry
q3_entrants.loc[q3_entrants['q2'].isna()]

Empty DataFrame
Columns: [qualifyId, raceId, driverId, constructorId, number, position, q1, q2, q3]
Index: []

### Driver Info

Some information relating to drivers is missing, such as driver number or driver code. This is very benign. Hardly realistic someones racing number gives them wings. Should this missing data prove problematic (maybe when joining datasets?), we will revisit completing the missing info.

In [61]:
# print German drivers showing lack of considerable amount of data
drv_df.loc[drv_df['nationality'] == 'German'].head(10)
# E.g. Nick Hiedfeld raced with plenty different numbers 16, 9, 3

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
9,10,glock,\N,GLO,Timo,Glock,1982-03-18,German,http://en.wikipedia.org/wiki/Timo_Glock
15,16,sutil,99,SUT,Adrian,Sutil,1983-01-11,German,http://en.wikipedia.org/wiki/Adrian_Sutil
19,20,vettel,5,VET,Sebastian,Vettel,1987-07-03,German,http://en.wikipedia.org/wiki/Sebastian_Vettel
22,23,ralf_schumacher,\N,SCH,Ralf,Schumacher,1975-06-30,German,http://en.wikipedia.org/wiki/Ralf_Schumacher
27,28,markus_winkelhock,\N,WIN,Markus,Winkelhock,1980-06-13,German,http://en.wikipedia.org/wiki/Markus_Winkelhock
29,30,michael_schumacher,\N,MSC,Michael,Schumacher,1969-01-03,German,http://en.wikipedia.org/wiki/Michael_Schumacher
48,49,frentzen,\N,\N,Heinz-Harald,Frentzen,1967-05-18,German,http://en.wikipedia.org/wiki/Heinz-Harald_Fren...
142,143,bartels,\N,\N,Michael,Bartels,1968-03-08,German,http://en.wikipedia.org/wiki/Michael_Bartels

### Data Formats

Here we correct any data formats that do not match the expected type. Quick scan below shows two main culprits of data format violation:
1. dates, times which are stored as String objects
2. race position (presumably non-numeric DNF)

Here I propose to convert all time related objects into datetime objects via pd.to_datetime() and to convert DNFs for now into -1, to allow migartion to int64 objects

In addition, not all dataframes need really correcting. We can eliminate some based on the preceived usefulness of those.

### Eliminated Data Frames:
- Laps. Mostly missing data, and they on first glance carry very little if no useful information as to the ability to predict the winner prior to the race.
- Pit stops. As above
- Sprint Results. Lack of consistency between seasons as the the presence and format of the sprint races.
- Seasons. Its just a wiki link.

In [62]:
for df in all_files:
    df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   circuitId   77 non-null     int64
 1   circuitRef  77 non-null     object
 2   name        77 non-null     object
 3   location    77 non-null     object
 4   country     77 non-null     object
 5   lat         77 non-null     float64
 6   lng         77 non-null     float64
 7   alt         77 non-null     object
 8   url         77 non-null     object
dtypes: float64(2), int64(1), object(6)
memory usage: 5.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12290 entries, 0 to 12289
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   constructorResultsId  12290 non-null  int64
 1   raceId                12290 non-null  int64
 2   constructorId         12290 non-null  int64
 3   points                12290 non-null  float64
 4   status                12290 non-null  object
dtypes: float64(1), int64(3), object(1)
memory usage: 480.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13051 entries, 0 to 13050
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   constructorStandingsId  13051 non-null  int64
 1   raceId                  13051 non-null  int64
 2   constructorId           13051 non-null  int64
 3   points                  13051 non-null  float64
 4   position                13051 non-null  int64
 5   positionText            13051 non-null  object
 6   wins                    13051 non-null  int64
dtypes: float64(1), int64(5), object(1)
memory usage: 713.9+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211 entries, 0 to 210
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   constructorId   211 non-null    int64
 1   constructorRef  211 non-null    object
 2   name            211 non-null    object
 3   nationality     211 non-null    object
 4   url             211 non-null    object
dtypes: int64(1), object(4)
memory usage: 8.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34124 entries, 0 to 34123
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   driverStandingsId  34124 non-null  int64
 1   raceId             34124 non-null  int64
 2   driverId           34124 non-null  int64
 3   points             34124 non-null  float64
 4   position           34124 non-null  int64
 5   positionText       34124 non-null  object
 6   wins               34124 non-null  int64
dtypes: float64(1), int64(5), object(1)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 857 entries, 0 to 856
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   driverId     857 non-null    int64
 1   driverRef    857 non-null    object
 2   number       857 non-null    object
 3   code         857 non-null    object
 4   forename     857 non-null    object
 5   surname      857 non-null    object
 6   dob          857 non-null    object
 7   nationality  857 non-null    object
 8   url          857 non-null    object
dtypes: int64(1), object(8)
memory usage: 60.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 551742 entries, 0 to 551741
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   raceId        551742 non-null  int64
 1   driverId      551742 non-null  int64
 2   lap           551742 non-null  int64
 3   position      551742 non-null  int64
 4   time          551742 non-null  object
 5   milliseconds  551742 non-null  int64
dtypes: int64(5), object(1)
memory usage: 25.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10089 entries, 0 to 10088
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   raceId        10089 non-null  int64
 1   driverId      10089 non-null  int64
 2   stop          10089 non-null  int64
 3   lap           10089 non-null  int64
 4   time          10089 non-null  object
 5   duration      10089 non-null  object
 6   milliseconds  10089 non-null  int64
dtypes: int64(5), object(2)
memory usage: 551.9+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9815 entries, 0 to 9814
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   qualifyId      9815 non-null   int64
 1   raceId         9815 non-null   int64
 2   driverId       9815 non-null   int64
 3   constructorId  9815 non-null   int64
 4   number         9815 non-null   int64
 5   position       9815 non-null   int64
 6   q1             9807 non-null   object
 7   q2             9651 non-null   object
 8   q3             9488 non-null   object
dtypes: int64(6), object(3)
memory usage: 690.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1101 entries, 0 to 1100
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   raceId       1101 non-null   int64
 1   year         1101 non-null   int64
 2   round        1101 non-null   int64
 3   circuitId    1101 non-null   int64
 4   name         1101 non-null   object
 5   date         1101 non-null   object
 6   time         1101 non-null   object
 7   url          1101 non-null   object
 8   fp1_date     1101 non-null   object
 9   fp1_time     1101 non-null   object
 10  fp2_date     1101 non-null   object
 11  fp2_time     1101 non-null   object
 12  fp3_date     1101 non-null   object
 13  fp3_time     1101 non-null   object
 14  quali_date   1101 non-null   object
 15  quali_time   1101 non-null   object
 16  sprint_date  1101 non-null   object
 17  sprint_time  1101 non-null   object
dtypes: int64(4), object(14)
memory usage: 155.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26080 entries, 0 to 26079
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   resultId         26080 non-null  int64
 1   raceId           26080 non-null  int64
 2   driverId         26080 non-null  int64
 3   constructorId    26080 non-null  int64
 4   number           26080 non-null  object
 5   grid             26080 non-null  int64
 6   position         26080 non-null  object
 7   positionText     26080 non-null  object
 8   positionOrder    26080 non-null  int64
 9   points           26080 non-null  float64
 10  laps             26080 non-null  int64
 11  time             26080 non-null  object
 12  milliseconds     26080 non-null  object
 13  fastestLap       26080 non-null  object
 14  rank             26080 non-null  object
 15  fastestLapTime   26080 non-null  object
 16  fastestLapSpeed  26080 non-null  object
 17  statusId         26080 non-null  int64
dtypes: float64(1), int64(8), object(9)
memory usage: 3.6+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74 entries, 0 to 73
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    74 non-null     int64
 1   url     74 non-null     object
dtypes: int64(1), object(1)
memory usage: 1.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   resultId        180 non-null    int64
 1   raceId          180 non-null    int64
 2   driverId        180 non-null    int64
 3   constructorId   180 non-null    int64
 4   number          180 non-null    int64
 5   grid            180 non-null    int64
 6   position        180 non-null    object
 7   positionText    180 non-null    object
 8   positionOrder   180 non-null    int64
 9   points          180 non-null    int64
 10  laps            180 non-null    int64
 11  time            180 non-null    object
 12  milliseconds    180 non-null    object
 13  fastestLap      180 non-null    object
 14  fastestLapTime  180 non-null    object
 15  statusId        180 non-null    int64
dtypes: int64(10), object(6)
memory usage: 22.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139 entries, 0 to 138
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   statusId  139 non-null    int64
 1   status    139 non-null    object
dtypes: int64(1), object(1)
memory usage: 2.3+ KB

In [90]:
# fix lap times - there appear to be two formats
# also heaps of data is missing. Not every race is covered by the laps data. E.g. the shortest lap every in French GP 1974 is now here.
# Otherwise there would likely be a 3rd time format of just %S.%f
min_format = pd.to_datetime(q_df['q1'], format="%M:%S.%f", errors="coerce")
hour_format = pd.to_datetime(q_df['q1'], format="%H:%M:%S.%f", errors="coerce")
q_df['q1'] = min_format.fillna(hour_format)

min_format = pd.to_datetime(q_df['q2'], format="%M:%S.%f", errors="coerce")
hour_format = pd.to_datetime(q_df['q2'], format="%H:%M:%S.%f", errors="coerce")
q_df['q2'] = min_format.fillna(hour_format)

min_format = pd.to_datetime(q_df['q3'], format="%M:%S.%f", errors="coerce")
hour_format = pd.to_datetime(q_df['q3'], format="%H:%M:%S.%f", errors="coerce")
q_df['q3'] = min_format.fillna(hour_format)
q_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9815 entries, 0 to 9814
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   qualifyId      9815 non-null   int64
 1   raceId         9815 non-null   int64
 2   driverId       9815 non-null   int64
 3   constructorId  9815 non-null   int64
 4   number         9815 non-null   int64
 5   position       9815 non-null   int64
 6   q1             9666 non-null   datetime64[ns]
 7   q2             5342 non-null   datetime64[ns]
 8   q3             3297 non-null   datetime64[ns]
dtypes: datetime64[ns](3), int64(6)
memory usage: 690.2 KB

In [82]:
551742-551699

43